$palette: (
	theme1: (
		brand-primary: #F73859,
		brand-secondary: #f35f55, 
		brand-white: #fff,
		brand-black: #353535,
		brand-gray: rgba(#2a3356, 0.9)
	),
	theme2: (
		brand-primary: #F73859,
		brand-secondary: #f35f55, 
		brand-white: #fff,
		brand-black: #353535,
		brand-gray: #dededc,
		brand-light-gray: tint(#dededc,60%)
	)
);

$theme: 'theme2';
