<div id="page">
  <nav ng-include="'partials/nav.html'"></nav>

  <header id="fh5co-header" class="fh5co-cover full-bleed" role="banner" style="background-image:url(/images/work-2.jpg);" data-stellar-background-ratio="0.7">
    <div class="overlay" style="background-color: rgba(87,159,232,0.75);">
    </div>
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-12 col-md-offset-1 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
            <h1 class="white mb10">Wae & Mate</h1>
            <h3 class="white">Cisco Wano</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<div id="fh5co-project" class="fh5co-section fh5co-section--white animate-box">
 <div class="container-fluid">
   <div class="row row-pb-md">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <h3>Network management API's for Enterprise level Service Providers—like Comcast, Verizon and AT&T</h3>
      <p>In my first position at Cisco I worked on creating and documenting REST API's in the Wide Area Network (WAN) Orchestration product group. The WAN Automation Engine (WAE) is a set of web API's designed to provide bandwidth orchestration capability for a Wide Area Network in the Service Provider environment.</p>
    </div>
  </div>
  <div class="row row-pb-md">
    <div class="col-md-10 col-md-offset-1 text-left fh5co-heading">
      <video src="images/cisco/wae-tutorial.mp4" class="img-responsive play-on-scroll" controls></video>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <p>Our API's were designed for use by a developer working in an organization that provides network services. Much of my job was figuring out the best way to deliver these API's to them and make them as easy to use as possible.</p>
    </div>
  </div>
</div>
</div>
<div class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/card-components/banner.jpg');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>I designed and developed mobile-first web interactions for our product and external clients.</h1>
      </div>
    </div>
  </div>
</div>
<div class="fh5co-section fh5co-section--white">
 <div class="container-fluid">
  <div class="row row-pb-md">
   <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <h3>Cisco's Mate, a network visualization web app, provided a visual layer to our API's allowing users to view their topography and run reports.</h3>
     <p>At Cisco I worked as a UI Engineer. The project I worked on was a visualization tool for the WAE web API's that I helped to create in my other role there. This role involved utilized HTML, CSS and Javascript–more specifically javascript libraries/frameworks including NodeJS, BackboneJS, D3.js & HighchartsJS.</p>
     <p>In this role I continued to try to give the best experience to these developers that would be using the application. I put a lot of energy in particular into working on this configuration page that you see below.</p>
    </div>
  </div>
  <div class="row row-pb-md">
   <div class="col-md-10 col-md-offset-1 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/development.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-4 col-md-offset-1 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/mate-ui.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/dropdown.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/tooltip.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
 </div>
 <div class="row row-pb-md">
   <div class="col-md-8 col-md-offset-2 text-left fh5co-heading" data-animate-effect="fadeIn">
    <p>Our approach was an immersive one, to value interaction and interface but not more than the content itself. We helped Tegan & Sara create a brand based on two basic elements; their highly curated content and the enthusiastic followers that make up their team. We avoided gimmicks by focusing on their curators and content.</p>
  </div>
</div>
<div class="row row-pb-md">
 <div class="col-md-12 fh5co-project" data-animate-effect="fadeIn">
   <p data-height="625" data-theme-id="light" data-preview="true" data-slug-hash="NRBOky" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Cart & Share Components" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/NRBOky/">Cart & Share Components</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
 </div>
</div>
</div>
</div>
<div class="fh5co-section fh5co-section--black">
  <div class="container-fluid">
   <div class="row animate-box">
    <div class="col-md-5 col-md-offset-1 text-left fh5co-heading">
     <h2>
      This prototype was made with Principle.
    </h2>
    <p>
      You can download a basic version of the prototype here. Feel free to use it in your own projects.
    </p>
    <p>
      <a href="/card-animation-zoomed.prd">Download the .PRD here</a>
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1 text-left">
    <video src="images/card-components/share-animation.mp4" class="img-responsive" controls></video>
    <!-- <img src="/images/card-components/work-1.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"> -->
  </div>
</div>
</div>
</div>
<div class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
   <div class="row row-pb-md animate-box">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <h3>Nearby Services Component for our self service small business customers</h3>
     <p>As one of our self-service product offerings we built an integration with the Google Places API's for helping users find the nearest location of that service near them. For the case below the customer was a small gym business and a user could find a branch local to their location.</p>
     <p>This component was a "self serve" part of our product. Anyone with an account could add this to a card. I worked on the motion and interaction here and I worked directly with the Google API's while developing this.</p>
   </div>
 </div>
 <div class="row row-pb-md animate-box">
   <div class="col-md-12 fh5co-project animate-box" data-animate-effect="fadeIn">
     <p data-height="700" data-theme-id="light" data-preview="true" data-slug-hash="ENNdJd" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Nearby Services Component " class="codepen">See the Pen <a href="http://codepen.io/erchsm/pen/ENNdJd/">Nearby Services Component </a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
   </div>
 </div>
</div>
</div>
<div class="fh5co-section fh5co-section--black">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h2>A few more cards</h2>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/cover.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/card2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/card3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/card4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/card5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/card-components/card6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>
<div class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
   <div class="row">
     <div class="col-sm-4 fh5co-project animate-box hideCodepenUi" data-animate-effect="fadeIn">
       <p data-height="265" data-theme-id="light" data-slug-hash="vyxxae" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="The Pin" class="codepen">See the Pen <a href="https://codepen.io/erchsm/pen/vyxxae/">The Pin</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
     </div>
     <div class="col-sm-8 fh5co-project animate-box hideCodepenUi" data-animate-effect="fadeIn">
       <img src="images/card-components/nearby-services-icons.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
     </div>
   </div>
 </div>
</div>
<div id="fh5co-started" class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
   <div class="row animate-box">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <span>Custom Component — Product Design</span>
     <h2>So how did the product allow for use of these components?</h2>
     <div class="col-md-10 col-md-offset-1">
      <p>As one of our "in-product" components we built an integration with the Google Places API's for helping users find the nearest location of that service near them. For the case below the customer was a small gym business and a user could find a branch local to their location.</p>
    </div>
  </div>
</div>
</div>
</div>
<div id="fh5co-project">
  <div class="container-fluid">
   <div class="row">
    <div class="col-md-12 fh5co-project animate-box" data-animate-effect="fadeIn">
     <img src="images/card-components/config-custom-components.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
 </div>
</div>
</div>

<div codepenembed></div>



</div>
</div>
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
