<div id="page">
  <a href="#" ng-click="burgerMenu()" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
  <div id="fh5co-offcanvas">
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li class="offcanvas-has-dropdown"><a href="#">Projects</a>
        <ul class="dropdown">
          <li><a href="/card-components">Micro App Interactions</a></li><li><a href="/wrap-templates/">Micro App Templates</a></li>
          <li><a href="/perforce/">Perforce</a></li>
          <li><a href="/cisco/">Cisco</a></li>
        </ul>
      </li>
      <li><a href="mailto:hi@ericsmithux.com?Subject=Hello%21&amp;Body=Was%20looking%20at%20your%20website%20and%20wanted%20to%20say%20hello%21">Say Hello</a></li>
      <li><a target="_blank" href="/resume/ericsmith-resume.pdf">Resume</a></li>
    </ul>
  </div>

  <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-color: rgb(228, 109, 93); background-image: url('images/banner_hero.svg'); background-blend-mode: overlay;" data-stellar-background-ratio="0.7">
    <div class="overlay" style="background-color: rgba(0, 50, 255, 0.6);"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <h1 class="">Eric C. Smith is a UI/UX Designer and Developer located in Brooklyn, NY.</h1>
              <!-- I’m currently crushing on <a href="">Google’s Web Starter kit</a></h1> -->
              <!-- <p> -->
              <!-- <a href="/say-hello/" target="_blank" class="btn btn-primary">My Work</a> -->
              <!-- <em class="or">or</em> -->
              <!-- <a href="/say-hello/" class="link-watch popup-vimeo">Say Hello</a> -->
              <!-- </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-started" class="fh5co-section fh5co-section--white">
    <div class="container">
      <div class="row row-pb-md hidden-xs">
        <div class="col-md-6 col-md-offset-1">
          <img class="img-responsive mb30" src="images/brooklyn.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
        </div>
        <div class="col-md-4 col-md-offset-0">
          <img class="img-responsive mb30" src="images/me.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h3>Hi there, I’m Eric. I’m a Designer with a nack for writing code. Here are some things I’ve worked on.</h3>
          <p>I’ve made this site with my own two hands with help from Google’s Web Starter Kit and HTML5 Up templates. If you can’t tell from this site’s design, I like bright colors and bold patterns. When im not designing or writing code I’m either taking photos or out enjoying some nature... <a href="aboutme/">(more)</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('http://ericsmithux.com/images/38320027.jpg'); background-color: rgb(228, 109, 93); background-blend-mode: overlay;">
    <div class="overlay" style="background-color: rgba(255, 114, 94, 0.6);"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box glyph">
          <h2> I specialize in working on prototypes, visual design & front-end coding.</h2>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-project" class="fh5co-section fh5co-section--white">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-offset-0 text-left fh5co-heading animate-box ">
          <h2>Recent Projects</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="/card-components/">
            <img src="images/work-1.gif" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co" >
            <div class="row fh5co-copy fh5co-copy--white">
              <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
                <h4>Micro App Card Interactions</h4>
                <span>Interaction Design</span>
              </div>
              <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
                <span class="icon">
                  <i class="icon-arrow-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="/card-components/">
            <img src="images/card-components/banner.jpg" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co" >
            <div class="row fh5co-copy fh5co-copy--white">
              <div class="col-md-8 col-xs-offset-1 col-sm-12">
                <h4>Micro App Templates</h4>
                <span>Visual Design</span>
              </div>
              <div class="col-md-1 col-xs-offset-1 col-md-offset-0">
                <span class="icon">
                  <i class="icon-arrow-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="/cisco/"><img src="images/work-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
            <div class="row fh5co-copy fh5co-copy--white">
              <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
                <h4>Cisco MATE</h4>
                <span>UI Design/Development</span>
              </div>
              <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
                <span class="icon">
                  <i class="icon-arrow-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-12 fh5co-project animate-box" data-animate-effect="fadeIn">
          <a href="/perforce/"><img src="images/work-3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
            <div class="row fh5co-copy fh5co-copy--white">
              <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
                <h4>Dropbox meets Github</h4>
                <span>UI/UX Design/Research</span>
              </div>
              <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
                <span class="icon">
                  <i class="icon-arrow-right"></i>
                </span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>



  <!-- <div id="fh5co-services" class="fh5co-bg-section border-bottom">
    <div class="container">
      <div class="row row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-heading">
            <span>We're expert</span>
            <h2>What We Do</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-eye"></i>
            </span>
            <h3>Retina Ready</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-command"></i>
            </span>
            <h3>Fully Responsive</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-power"></i>
            </span>
            <h3>Web Starter</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>

        <div class="clearfix visible-md-block"></div>

        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-eye"></i>
            </span>
            <h3>Retina Ready</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-command"></i>
            </span>
            <h3>Fully Responsive</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 ">
          <div class="feature-center animate-box" data-animate-effect="fadeInUp">
            <span class="icon">
              <i class="icon-power"></i>
            </span>
            <h3>Web Starter</h3>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <p><a href="#">Learn more</a></p>
          </div>
        </div>

        <div class="clearfix visible-md-block"></div>

      </div>
    </div>
  </div>


  <div id="fh5co-testimonial" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>You deserved happiness</span>
          <h2>Happy Clients</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 animate-box">
          <div class="testimonial">
            <blockquote>
              <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"> <img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
            </blockquote>
          </div>

          <div class="testimonial fh5co-selected">
            <blockquote>
              <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"><img src="images/person2.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
            </blockquote>
          </div>
        </div>

        <div class="col-md-6 animate-box">
          <div class="testimonial fh5co-selected">
            <blockquote>
              <p>&ldquo;Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius. Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"><img src="images/person3.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Eric Miller</cite></p>
            </blockquote>
          </div>

          <div class="testimonial">
            <blockquote>
              <p>&ldquo;Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.&rdquo;</p>
              <p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite>&mdash; Mike Adam</cite></p>
            </blockquote>
          </div>

        </div>



      </div>
    </div>
  </div>


  <div id="fh5co-counter">
    <div class="container">

      <div class="row animate-box" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>Enjoy it</span>
          <h2>Fun Facts</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
            <span class="icon">
              <i class="ti-download"></i>
            </span>
            <span class="counter"><span class="js-counter" data-from="0" data-to="15" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
            <span class="counter-label">Downloads</span>

          </div>
        </div>
        <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
          <div class="feature-center">
              <span class="icon">
                <i class="ti-face-smile"></i>
              </span>
              <span class="counter"><span class="js-counter" data-from="0" data-to="120" data-speed="1500" data-refresh-interval="50">1</span>+</span>
              <span class="counter-label">Happy Clients</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="feature-center">
              <span class="icon">
                <i class="ti-briefcase"></i>
              </span>
              <span class="counter"><span class=" js-counter" data-from="0" data-to="90" data-speed="1500" data-refresh-interval="50">1</span>+</span>
              <span class="counter-label">Projects Done</span>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
            <div class="feature-center">
              <span class="icon">
                <i class="ti-time"></i>
              </span>
              <span class="counter"><span class="js-counter" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
              <span class="counter-label">Hours Spent</span>

            </div>
          </div>

        </div>
      </div>
  </div>

  <div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
      <div class="row animate-box row-pb-md" data-animate-effect="fadeInUp">
        <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
          <span>Thoughts &amp; Ideas</span>
          <h2>Our Blog</h2>
          <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">Sep. 12th</span>
            <h3><a href="#">Web Design for the Future</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite> Mike Adam</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">Sep. 23rd</span>
            <h3><a href="#">Web Design for the Future</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite> Mike Adam</cite></p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeInUp">
          <div class="fh5co-post">
            <span class="fh5co-date">Sep. 24th</span>
            <h3><a href="#">Web Design for the Future</a></h3>
            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
            <p class="author"><img src="images/person1.jpg" alt="Free HTML5 Bootstrap Template by gettemplates.co"> <cite> Mike Adam</cite></p>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <footer id="fh5co-footer" class="fh5co-section" role="contentinfo" style="background-color: rgb(255, 255, 255); background-image: url('images/banner_hero.svg');" data-stellar-background-ratio="0.8">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-12 text-center">
          <p>
            <ul class="fh5co-social-icons">
              <li><a href="http://codepen.io/erchsm/">Codepen</a></li>
              <li><a href="https://github.com/erchsm/">Github</a></li>
              <li><a href="https://www.flickr.com/photos/erchsm/">Flickr</a></li>
            </ul>
          </p>
        </div>
      </div>

    </div>
  </footer>
</div>
