<div id="page">
  <nav ng-include="'partials/nav.html'"></nav>

  <header id="fh5co-header" class="fh5co-cover full-bleed" role="banner" style="background-image:url(/images/app-templates/all-cards.jpg); background-color: #dededc; background-blend-mode: multiply;" data-stellar-background-ratio="0.7">
    <!-- <div class="overlay"></div> -->
    <div class="container">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-12 col-md-offset-1 col-md-10 text-center text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
            <h1 class="white">Micro App Templates</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<div id="fh5co-project" class="fh5co-section animate-box">
 <div class="container">
   <div class="row row-pb-md">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <h3>A quick introduction to the Wrap platform — a Wrap is a highly-focused, app-like, mobile web experience.</h3>
      <p>Wraps are mobile web apps and live at a URL. The flexibility of the URL allows a end user to enter the Wrap through many channels including social feeds, e-mail, web advertisement or, like shown below, through SMS.</p>
    </div>
  </div>
  <div class="row row-pb-md">
    <div class="col-md-7 text-left fh5co-heading">
      <video src="images/card-components/minted.mp4" class="img-responsive play-on-scroll" controls></video>
    </div>
    <div class="col-md-5 text-left fh5co-heading">
      <img src="images/card-components/minted-hand.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <p>
        These experiences are made up cards — a new "page" of the traditional "app" is analagous to a card. The creation and distribution of the experiences was handled through a SASS application that we developed in-house as well.
      </p>
      <p>
        the creation of The way that myself and the design team designed wraps was by designing cards. Wrap Components are the building blocks of those cards. They can be positioned at will on the card.
      </p>
    </div>
  </div>
</div>
</div>
<div class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/card-components/banner.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>I designed and developed mobile-first web interactions for our product and external clients.</h1>
      </div>
    </div>
  </div>
</div>
<div class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h2>Fashion Commerce</h2>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
   <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h2>Conference</h2>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
   <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h2>Modern Sans</h2>
        <h3>Creative Agency</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>


<div codepenembed></div>


<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
