<div id="page">
  <nav ng-include="'partials/nav.html'"></nav>

  <header id="fh5co-header" class="fh5co-cover full-bleed" role="banner" style="background-image:url(/images/card-components/banner-alt.jpg); background-color: #333031; background-blend-mode: multiply;" data-stellar-background-ratio="0.7">
    <!-- <div class="overlay"></div> -->
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-10 col-md-offset-0 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
            <h1 class="white mb10">Micro App Templates</h1>
            <h3>Wrap Media</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div id="fh5co-project" class="fh5co-section fh5co-section--white animate-box">
 <div class="container-fluid">
   <div class="row row-pb-md">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
       <h3>Think Squarespace but for mobile apps— A template mobile experience for every use case.</h3>
       <p>Over the course of 6 months, myself and the rest of the design team at Wrap Media created 150+ template micro apps for our customers to use. Templates gave our users a starting point in our platform and provided them some inspiration to create their own.</p>
       <p>Here are the cover cards for a small subset of the templates we created. Here you can see many of the common use cases for the Wrap platform such as commerce, brand awareness, real estate and events/conferences.</p>
     </div>
   </div>
   <div class="row row-pb-md">
    <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <img src="images/app-templates/conference/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive fh5co-heading">
      <!-- <img src="images/app-templates/agency/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"> -->
    </div>
    <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <div style="min-height: 7em;" class="spacer hidden-xs"></div>
      <img src="images/app-templates/conference2/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
    <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <img src="images/app-templates/housewarming/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
    <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <div style="min-height: 3.5em;" class="spacer hidden-xs"></div>
      <img src="images/app-templates/commerce/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <p>The way that myself and the design team designed wraps was by designing cards. From the example above you can see that these experiences follow and "x-cross" pattern— The end user is able to scroll either up/down or swipe left or right.</p>
      <p>One of the biggest challenges in constructing templates was making them easy to use so that a brand/buisiness could simply swap out their content.</p>
      <p>In order to use these templates a user would need to sign up for our subscription service in order to create and deploy wraps.</p>
    </div>
  </div>
</div>
</div>

<div class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/card-components/banner.jpg');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>We grouped templates under visual style families— This was crucial for their find-ability in our product</h1>
      </div>
    </div>
  </div>
</div>
<div class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Fashion Commerce</h1>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
   <div class="row ">
    <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
      <h1>Conference</h1>
      <h3>Modern Sans Family</h3>
    </div>
  </div>
  <div class="row scrolling">
    <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
   <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/app-templates/conference/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
   </div>
 </div>
 <div class="row ">
  <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
    <h1>Creative Agency</h1>
    <h3>Modern Sans Family</h3>
  </div>
</div>
<div class="row scrolling">
  <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
 <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
 <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
 <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
 <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
 <div class="col-md-4 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
   <img src="images/app-templates/agency/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
 </div>
</div>
</div>
</div>


<div codepenembed></div>


<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
