<nav class="fh5co-nav">
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-left">
      <a href="#" ng-click="burgerMenu()" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
    </div>
  </div>
</div>
</nav>
<nav id="fh5co-offcanvas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-left">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li class="offcanvas-has-dropdown"><a href="#">Projects</a>
            <ul class="dropdown">
              <li><a href="#!/card-components">Micro App Interactions</a></li>
              <li><a href="#!/micro-app-templates">Micro App Templates</a></li>
              <li><a href="#!/perforce">Perforce</a></li>
              <li><a href="#!/cisco">Cisco</a></li>
              <li><a href="#!/givjoy">Givjoy</a></li>
            </ul>
          </li>
          <li><a href="mailto:hi@ericsmithux.com?Subject=Hello%21&amp;Body=Was%20looking%20at%20your%20website%20and%20wanted%20to%20say%20hello%21">Say Hello</a></li>
          <li><a target="_blank" href="/resume/ericsmith-resume.pdf">Resume</a></li>
        </ul>
      </div>
    </div>
  </nav>
