<div class="row">
  <div class="col-md-6 col-sm-12 fh5co-project" data-animate-effect="fadeInUp">
    <div style="min-height: 7em;" class="spacer hidden-xs"></div>
    <div style="min-height: 7em;" class="spacer hidden-xs"></div>
    <a href="#!/micro-app-interactions">
      <div class="img-wrapper"><img src="/images/card-components/share-animation.gif" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h4>Micro App Card Interactions</h4>
          <span>Interaction, Mobile</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <span class="icon">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    </a>
    <!-- <div style="min-height: 7em;" class="spacer hidden-xs"></div> -->
    <a href="#!/protohack-givjoy">
      <div class="img-wrapper"><img src="/images/protohack-givjoy/givjoy.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h4>Givjoy & Protohack</h4>
          <span>Mobile, UX</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <span class="icon">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    </a>

  </div>
  <div class="col-md-6 col-sm-12 fh5co-project" data-animate-effect="fadeInUp">
    <a href="#!/micro-app-templates">
      <div class="img-wrapper"><img src="/images/card-components/banner-alt.jpg" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co" ></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h4>Micro App Templates</h4>
          <span>Visual, Mobile</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <span class="icon">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    </a>
    <!-- <div style="min-height: 7em;" class="spacer hidden-xs"></div> -->
    <a href="#!/cisco">
      <div class="img-wrapper"><img src="/images/work-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h4>Cisco MATE</h4>
          <span>UI Design, Engineering</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <span class="icon">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    </a>
    <a href="#!/perforce">
      <div class="img-wrapper"><img src="/images/work-3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h4>Dropbox meets Github</h4>
          <span>UX, Prototyping</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <span class="icon">
            <i class="icon-arrow-right"></i>
          </span>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
