<footer id="fh5co-next-case-study" class="fh5co-bg fh5co-section fh5co-section--black fh5co-next-case-study" style="background-image: url('/images/protohack-givjoy/banner.jpg');">
  <a href="#!/protohack-givjoy">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9 col-md-offset-1 text-left fh5co-heading">
          <h3 class="mb10">Next up</h3>
          <h1 class="white">Givjoy</h1>
        </div>
        <div class="col-md-1 text-center fh5co-heading hidden-xs">
          <h2 class="">&nbsp;</h2>
          <h3><i class="icon-chevron-thin-right"></i></h3>
        </div>
      </div>
    </div>
  </a>
</footer>
