#node files
node_modules/*

#sass cache files
*.scssc
.sass-cache/*
.*/.scssc
.*/**/.scssc

#ds store
.DS_Store
*/.DS_Store
*/**/.DS_Store

#psds
*.psd
*/.psd
*/**/.psd

#sketch
*.sketch
*/.sketch
*/**/.sketch
*-*-*.sketch
