<div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white glyph fh5co-started">
  <div class="container-fluid">
    <div class="row row-pb-md">
      <div class="col-md-5 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
        <div style="min-height: 7em;" class="spacer hidden-xs"></div>
        <h3 class="animate-box" data-animate-effect="fadeInUp">Hi there, I’m Eric — I’m a designer with a nack for writing code. Here are some things I’ve worked on.</h3>
        <p class="animate-box" data-animate-effect="fadeInUp">I’ve hand coded this site as a way to flex my development skills (and for fun!) I am a firm believer in keeping it simple, the best design solution is usually the simplest and most direct. When im not designing or writing code, I’m taking photos with friends and enjoying the outdoors.</p>
        <p class="animate-box" data-animate-effect="fadeInUp"><a class=" hidden-xs" href="/about">About Me <i class="icon-chevron-thin-right"></i></a></p>
      </div>
      <div class="col-md-6 col-md-offset-1 hidden-xs" >
        <a href="/about">
          <div class="img-wrapper">
            <img class="img-responsive mb30" src="images/me2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


