<!-- <nav class="fh5co-nav">
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 text-left">
      <a href="#fh5co-header" ng-click="burgerMenu()" class="js-fh5co-nav-toggle fh5co-nav-toggle fh5co-nav-white"><i></i></a>
    </div>
    <div ng-if="$state.includes('resume')" class="col-xs-6 text-right">
      <a target="_blank" href="/resume/ericsmith-resume.pdf" class="download-pdf">
        <span>Download PDF</span>
        <i class="icon-download"></i>
      </a>
    </div>
  </div>
</div>
</nav> -->
<nav class="fh5co-nav" style="pointer-events: none;">
 <div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 text-left">
      <span ng-click="burgerMenu()" class="js-fh5co-nav-toggle fh5co-nav-toggle" ng-class="{'fh5co-nav-white': !$state.is('process')&&!$state.is('resume')&&!$state.is('about')}">
        <span class="nav-section">
          <span ng-show="$state.includes('home')">H</span>
          <span ng-show="$state.includes('american-made')">P1</span>
          <span ng-show="$state.includes('micro-app-interactions')">P2</span>
          <span ng-show="$state.includes('micro-app-templates')">P3</span>
          <span ng-show="$state.includes('cisco')">P4</span>
          <span ng-show="$state.includes('protohack-givjoy')">P5</span>
          <span ng-show="$state.includes('perforce')">P6</span>
          <span ng-show="$state.includes('about')">A</span>
          <span ng-show="$state.includes('resume')">R</span>
          <span ng-show="$state.includes('process')">P</span>
        </span>
        <div class="lines"></div>
        <div class="nav-numbers-list">
          <a href="#project-0" du-scrollspy="project-0" class="nav-number">1</a>
          <a href="#project-1" du-scrollspy="project-1" class="nav-number">2</a>
          <a href="#project-2" du-scrollspy="project-2" class="nav-number">3</a>
          <a href="#project-3" du-scrollspy="project-3" class="nav-number">4</a>
          <a href="#project-4" du-scrollspy="project-4" class="nav-number">5</a>
          <a href="#project-5" du-scrollspy="project-5" class="nav-number">6</a>
          <a href="#project-6" du-scrollspy="project-6" class="nav-number">7</a>
          <a href="#project-7" du-scrollspy="project-7" class="nav-number">8</a>
          <a href="#project-8" du-scrollspy="project-8" class="nav-number">9</a>
          <a href="#project-9" du-scrollspy="project-9" class="nav-number">10</a>
          <a href="#project-10" du-scrollspy="project-10" class="nav-number">11</a>
          <a href="#project11"" du-scrollspy="project-11" class="nav-number">12</a>
        </div>
      </span>
    </div>
    <div ng-if="$state.includes('resume')" class="col-xs-6 text-right">
      <a target="_blank" href="/docs/ericsmith-resume.pdf" class="download-pdf">
        <span>Download PDF</span>
        <i class="icon-download"></i>
      </a>
    </div>
</div>
</nav>
<nav id="fh5co-offcanvas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-xs-offset-0 col-sm-offset-1 text-left">
        <div style="min-height: 7em;" class="spacer hidden-xs"></div>
        <ul>
          <li><a ng-class="{active: $state.includes('home')}" href="/">Home</a></li>
          <li class="offcanvas-has-dropdown"><a>Projects</a>
            <ul class="dropdown">
              <li ><a ng-class="{active: $state.includes('american-made')}" href="/american-made">American Made</a></li>
              <li ><a ng-class="{active: $state.includes('micro-app-interactions')}" href="/micro-app-interactions">Micro App Interactions</a></li>
              <li><a ng-class="{active: $state.includes('micro-app-templates')}" href="/micro-app-templates">Micro App Templates</a></li>
              <li><a ng-class="{active: $state.includes('protohack-givjoy')}" href="/protohack-givjoy">Protohack & Givjoy</a></li>
              <li><a ng-class="{active: $state.includes('perforce')}" href="/perforce">Perforce</a></li>
              <li><a ng-class="{active: $state.includes('cisco')}" href="/cisco">Cisco</a></li>
            </ul>
          </li>
          <li><a ng-class="{active: $state.includes('process')}" href="/process">Process</a></li>
          <li><a ng-class="{active: $state.includes('about')}" href="/about">About Me</a></li>
          <!-- <li><a href="mailto:hi@ericsmithux.com?Subject=Hello%21&amp;Body=Was%20looking%20at%20your%20website%20and%20wanted%20to%20say%20hello%21">Say Hello</a></li> -->
          <li><a ng-class="{active: $state.includes('resume')}" href="/resume">Resume</a></li>
        </li>
      </ul>
    </div>
  </div>
</nav>
