<div class="sidebar-container white">
	<ul class="sidebar">
		<li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<a href="#project-0" du-smooth-scroll du-scrollspy="project-0">
				<div class="sidebar-number">a.</div>
				<div class="sidebar-dash"></div>
				<div class="sidebar-label">portfolio</div>
				<div class="sidebar-border"></div>
			</a>
		</li>
		<li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<a href="#project-1" du-smooth-scroll du-scrollspy="project-1">
				<div class="sidebar-number">b.</div>
				<div class="sidebar-dash"></div>
				<div class="sidebar-label">team</div>
				<div class="sidebar-border"></div>
			</a>
		</li>
		<li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<a href="#project-2" du-smooth-scroll du-scrollspy="project-2">
				<div class="sidebar-number">c.</div>
				<div class="sidebar-dash"></div>
				<div class="sidebar-label">philosophy</div>
				<div class="sidebar-border"></div>
			</a>
		</li>
		<li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
			<a href="#project-3" du-smooth-scroll du-scrollspy="project-3">
				<div class="sidebar-number">d.</div>
				<div class="sidebar-dash"></div>
				<div class="sidebar-label">about</div>
				<div class="sidebar-border"></div>
			</a>
		</li>
	</ul> <!-- end of sidebar -->
</div>