<div class="row">
  <div class="col-md-6 col-sm-12 fh5co-project" >
    <div style="min-height: 7em;" class="spacer hidden-xs"></div>
    <div style="min-height: 7em;" class="spacer hidden-xs"></div>

    <a href="/american-made" class="animate-box" data-animate-effect="fadeInUp">
      <div class="img-wrapper">
        <!-- <object data="/images/american-made/preloader.svg" style="pointer-events: none;" class="img-responsive" type="image/svg+xml"></object> -->
        <img src="/images/american-made/banner.gif" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co">
      </div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>American Made Film Site</h3>
          <span>UI, Interaction</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>
    <a href="/micro-app-interactions" class="animate-box" data-animate-effect="fadeInUp">
      <div class="img-wrapper"><img src="/images/card-components/share-animation.gif" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>Micro App Interactions</h3>
          <span>Interaction, Mobile</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>
    <!-- <div style="min-height: 7em;" class="spacer hidden-xs"></div> -->
    <a href="/protohack-givjoy" class="animate-box" data-animate-effect="fadeInUp">
      <div class="img-wrapper"><img src="/images/protohack-givjoy/givjoy.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>Givjoy & Protohack</h3>
          <span>Mobile, UX</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>

  </div>
  <div class="col-md-6 col-sm-12 fh5co-project">
    <a href="/micro-app-templates" data-animate-effect="fadeInUp" class="animate-box">
      <div class="img-wrapper"><img src="/images/card-components/banner-alt.jpg" class="img-responsive" alt="Free HTML5 Website Template by gettemplates.co" ></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>Micro App Templates</h3>
          <span>Visual, Mobile</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>
    <!-- <div style="min-height: 7em;" class="spacer hidden-xs"></div> -->
    <a href="/cisco" class="animate-box" data-animate-effect="fadeInUp">
      <div class="img-wrapper"><img src="/images/work-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>Cisco MATE</h3>
          <span>UI Design, Engineering</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>
    <a href="/perforce" class="animate-box" data-animate-effect="fadeInUp">
      <div class="img-wrapper"><img src="/images/work-3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"></div>
      <div class="row fh5co-copy fh5co-copy--white">
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-8 col-xs-offset-0">
          <h3>Dropbox meets Github</h3>
          <span>UX, Prototyping</span>
        </div>
        <div class="col-md-1 col-md-offset-0 col-xs-1 col-xs-offset-1 col-xs-offset-2">
          <p class="icon">
            <i class="icon-chevron-thin-right"></i>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
</div>
