<div class="sidebar-container white">
  <ul class="sidebar">
    <li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <a href="#project-0" du-smooth-scroll du-scrollspy="project-0">
        <p class="sidebar-number">a.</p>
        <div class="sidebar-dash"></div>
        <p class="sidebar-label">intro</p>
        <div class="sidebar-border"></div>
      </a>
    </li>
    <li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <a href="#project-1" du-smooth-scroll du-scrollspy="project-1">
        <p class="sidebar-number">b.</p>
        <div class="sidebar-dash"></div>
        <p class="sidebar-label">about</p>
        <div class="sidebar-border"></div>
      </a>
    </li>
    <li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <a href="#project-2" du-smooth-scroll du-scrollspy="project-2">
        <p class="sidebar-number">c.</p>
        <div class="sidebar-dash"></div>
        <p class="sidebar-label">projects</p>
        <div class="sidebar-border"></div>
      </a>
    </li>
    <li class="sidebar-item sidebarIn" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
      <a href="#project-3" du-smooth-scroll du-scrollspy="project-3">
        <p class="sidebar-number">d.</p>
        <div class="sidebar-dash"></div>
        <p class="sidebar-label">social</p>
        <div class="sidebar-border"></div>
      </a>
    </li>
  </ul> <!-- end of sidebar -->
</div>
