<div id="page">
	<nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>
  <!-- <nav du-spy-context include-replace ng-include="'partials/sidebar.html'"></nav> -->

	<header id="project-0" du-scrollspy="project-0" class="fh5co-cover fh5co-header" role="banner" style="background-image:url(/images/american-made/tickets-bg-dots.jpg); background-color: rgb(239,239,229); " data-stellar-background-ratio="1.1">
		<div class="overlay" style="background-color: rgba(35, 32, 33, .33);"></div>
		<div class="container-fluid">
			<div class="display-t">
				<div class="row display-tc">
					<div class="col-xs-12 col-md-offset-0 col-md-10 text-left text-xs-center">
						<div class="animate-box" data-animate-effect="fadeInUp">
							<h3 class="white mb10">NBCUX Lab</h3>
							<h1 class="white">American Made</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white">
		<div class="container-fluid">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<h3>I took a deep dive into the story of the American Made film when the NBCUX Lab partnered with Universal Pictures.</h3>
					<p>
						I had the pleasure of leading design on this project with my 5 person team from the NBCUX Lab. The NBCUX Lab operates as an internal agency at NBCUniversal working with different organizations within NBCU on a variety of projects ranging from consumer film sites to internal tools and content management systems.</p>
					<p>
						Our final design is the product of many late nights and too many cups of caffeine. It all paid off though—the film earned $16.7 million at the box office the first weekend and there was a 63% conversion rate from our site to purchase tickets! I didn't do it alone—<a href="https://www.linkedin.com/in/oleksandr-lebedyev/">Oleksandr Lebedyev</a> helped with the development side and <a href="https://www.linkedin.com/in/poplar-bai/">Poplar Bai</a> aided me with design. 
					</p>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-10 col-md-offset-1 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
					<img src="images/american-made/columbia.gif" alt="Columbia Gif" class="img-responsive">
					<!-- <object data="/images/american-made/columbia.gif" class="img-responsive" type="image/svg+xml"></object> -->
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<h3>Cinemagraphs</h3>
					<p>One of my goals for this project was to integrate the content and UI of the site in a seamless way. To create a more interactive experience I created cinemagraphs. Cinemagraphs are a fairly new medium that enable deep visual storytelling. Cinemagraphs helped to reinforced the cinematic quality of the site and tell the story in richer way.</p>
				</div>
			</div>
		</div>
	</div>

	<div id="project-2" du-scrollspy="project-2" class="fh5co-bg  full-bleed fh5co-section fh5co-section--black" style="background-image: url('images/american-made/cloud-bg.png');" >
		<div class="overlay" style="background-color: rgba(35, 32, 33, .8);"></div>
		<div class="container-fluid">
			<div class="row animate-box"  data-animate-effect="fadeInUp">
				<div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
					<h1>Atomic Design Components</h1>
					<h3>Apply atomic design principles by designing components.</h3>
				</div>
			</div>
		</div>
	</div>
	<div id="project-3" du-scrollspy="project-3" class="fh5co-section fh5co-section--white">
		<div class="container-fluid">
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
					<h3>Preloader</h3>
					<p>If you have content that will take a long time to load, you should give the user feedback. I thought that the preloader could serve to delight and excite the the site visitors while they are waiting for the site. A simple plane animations sets the tone of the film.</p>
					<p>
						After the page loads the users are greeted with the "Sky is Never The Limit", a catchphrase for the film.
				</div>
			</div><div class="row row-pb-md">
				<div class="col-md-10 col-md-offset-1 text-left fh5co-heading">
					<p style="min-height: 625px;" data-height="625" data-theme-id="light" data-slug-hash="RyGNYm" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Preloader: American Made Film Site" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/RyGNYm/">Preloader: American Made Film Site</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading" data-animate-effect="fadeIn">
					<h3>"Runway" Navigation</h3>
					<p>I designed a themed navigation for the site that mimic'd the bird's eye view of a plane on an airport runway tarmack waiting to take off. The navigation is sticky but its minimalistic nature prevents it from hiding much content as the user scrolls.</p>
				</div>
			</div>
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-10 col-md-offset-1 fh5co-project" data-animate-effect="fadeIn">
					<p style="min-height: 625px;" data-height="625" data-theme-id="light" data-slug-hash="qoQajr" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Navigation: American Made Film Site" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/qoQajr/">Navigation: American Made Film Site</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading" data-animate-effect="fadeIn">
					<h3>Video Gallery</h3>
					<p>To provide a way for users to browse extensive video content from Universal Pictures I designed a video gallery that utilized the Youtube API for content. This way for later film sites that we develop we could simply re-style the player and plug in new content.</p>
				</div>
			</div>
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-10 col-md-offset-1 fh5co-project" data-animate-effect="fadeIn">
					<p style="min-height: 680px;" data-height="780" data-theme-id="light" data-slug-hash="MGedbG" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Video Gallery: American Made Film Site" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/MGedbG/">Video Gallery: American Made Film Site</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
				</div>
			</div>
			<div class="row row-pb-md">
				<div class="col-md-8 col-md-offset-2 text-left fh5co-heading" data-animate-effect="fadeIn">
					<h3>Scrolling Story: Parallax</h3>
					<p>In my quest to unify content and UI I wanted to create an interactive way to tell the plot of American Made in a visual way. I designed a scrolling parallax experience using Greensock which allows users to scroll through the story in a digestable way.</p>
					<p>I utilized video with alpha channel here, a new interesting technology for web browsers. This cinemagraph really helped to add a pop of motion.</p>
				</div>
			</div>
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-10 col-md-offset-1 fh5co-project" data-animate-effect="fadeIn">
					<p style="min-height: 680px;" data-height="680" data-theme-id="light" data-slug-hash="ZoBVbY" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Story: American Made Film Site" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/ZoBVbY/">Story: American Made Film Site</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="project-6" du-scrollspy="project-6" class="fh5co-section fh5co-section--black">
		<div class="container">
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
					<h1>Mobile First Design</h1>
					<h3></h3>
					<p>
						A high percentage of the film site's traffic was going to be from mobile devices. Thus, I adopted a mobile-first design approach that focuses on bare essential functionality before moving onto more features for bigger screens.
					</p>
				</div>
			</div>
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-12 fh5co-project animate-box fh5co-heading pull-right" data-animate-effect="fadeIn">
					<object data="/images/american-made/mobile.svg" class="img-responsive" style="min-width: 100%;" type="image/svg+xml"></object>
				</div>
			</div>
		</div>
	</div>
	<div id="project-7" du-scrollspy="project-7" class="fh5co-section fh5co-section--black">
		<div class="container">
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
					<h1>Interactive Map</h1>
					<h3>"Fly With Barry"</h3>
					<p>
						We developed an extra feature to accompany the site called "Fly With Barry". The interactive map followed the timeline of his escapades through Central and South America.
					</p>
				</div>
			</div>
			<div class="row row-pb-md hidden-xs">
				<div class="col-md-12 fh5co-project animate-box fh5co-heading pull-right" data-animate-effect="fadeIn">
					<object data="/images/american-made/map-code2.svg" class="img-responsive" style="min-width: 100%;" type="image/svg+xml"></object>
				</div>
			</div>
		</div>
	</div>

	<footer include-replace ng-include="'partials/next-case-study/micro-app-templates.html'"></footer>

	<div codepen-embed></div>

<!-- <div class="gototop js-top">
	<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div> -->

</div>


