<div id="page">
  <nav du-spy-context ng-include="'partials/nav.html'"></nav>

  <header id="project-0" du-scrollspy="project-0" class="fh5co-cover full-bleed fh5co-header" role="banner" style="background-image:url(/images/cisco/banner.png);" data-stellar-background-ratio="0.7">
    <div class="overlay" style="background-color: rgba(51, 48, 49, 0.6);">
    </div>
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-12 col-md-offset-0 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
            <h1 class="white mb10">WAN Automation Engine(WAE)</h1>
            <h3 class="white">Cisco WAN Group</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>



<div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white fh5co-project">
 <div class="container-fluid">
   <div class="row row-pb-md animate-box" data-animate-effect="fadeIn">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <h3>WAE is a set of network management API’s for Enterprise level Service Providers—like Comcast, Verizon and AT&T</h3>
      <p>In my first position at Cisco I worked on creating and documenting REST API’s in the Wide Area Network (WAN) Orchestration product group. The WAN Automation Engine (WAE) is a set of web API’s designed to provide bandwidth orchestration capability for a Wide Area Network in the Service Provider environment.</p>
    </div>
  </div>
  <div class="row row-pb-md">
    <div class="col-md-10 col-md-offset-1 text-left fh5co-heading">
      <video src="/images/cisco/wae-tutorial.mp4"
      poster="/images/cisco/wae-tutorial.jpg" preload="auto" class="img-responsive play-on-scroll" controls></video>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <p>Utilizing <a href="https://github.com/lord/slate">Slate</a> and custom CSS, I created the tutorial seen above, customized to Cisco’s branding.</p>
      <p>Our API’s were designed for use by a developer working in an organization that provides network services. Much of my job was figuring out the best way to deliver these API’s to them and make them as easy to use as possible.</p>
    </div>
  </div>
</div>
</div>
<div id="project-2" du-scrollspy="project-2" class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/cisco/banner.png');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row animate-box">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>In my second position I worked as a UI Engineer on a visual layer to these API’s</h1>
      </div>
    </div>
  </div>
</div>
<div id="project-3" du-scrollspy="project-3" class="fh5co-section fh5co-section--white">
 <div class="container-fluid">
  <div class="row row-pb-md">
   <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <h3>Cisco’s Mate, the network visualization web app, allowed users to view their topography, run reports and view statistics.</h3>
     <p>At Cisco I worked as a UI Engineer. The project I worked on was a visualization tool for the WAE web API’s that I helped to create in my second role there. This role involved utilized HTML, CSS and Javascript–more specifically javascript libraries/frameworks including NodeJS, BackboneJS, D3.js & HighchartsJS.</p>
     <p>In this role I continued to try to give the best experience to these developers that would be using the application. I put a lot of energy in particular into working on this configuration page that you see below.</p>
   </div>
 </div>
 <div class="row row-pb-md">
   <div class="col-md-10 col-md-offset-1 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/development.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-4 col-md-offset-1 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/mate-ui.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/dropdown.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeIn">
     <img src="images/cisco/tooltip.png" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
 </div>
</div>
</div>

<footer ng-include="'partials/next-case-study/micro-app-interactions.html'" include-replace></footer>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
</div>
