<div id="page" du-spy-context>
  <nav du-spy-context ng-include="'partials/nav.html'"></nav>

  <header id="project-0" du-scrollspy="project-0" class="fh5co-cover fh5co-cover-sm full-bleed fh5co-header" role="banner" style=" background-image: url('images/banner.jpg'); background-color: rgba(255, 85, 78, 0.85); background-blend-mode: color-dodge;" data-stellar-background-ratio="1.2">
    <div class="overlay" style="background-color: rgba(255, 85, 78, 0.85)"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-offset-0 col-md-10 text-left">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeInUp">
              <h1 class="">Eric C. Smith is a UI/UX Designer and Developer in New York City —
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div ng-include="'partials/blurb.html'"></div>

    <div id="project-2" du-scrollspy="project-2" class="fh5co-section fh5co-section--white fh5co-project">
      <div class="container-fluid">
        <div class="row row-pb-md">
          <div class="col-md-6 col-md-offset-6 text-left fh5co-heading">
            <h3>I specialize in working on prototypes, visual design and front-end code.</h3>
            <p>Here are some of the recent projects I've worked on. </p>
          </div>
        </div>

        <div ng-include="'partials/work.html'"></div>

      </div>



      <footer class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/banner.jpg'); background-color: rgb(228, 109, 93); background-blend-mode: overlay;">
        <div class="overlay" style="background-color: rgba(255, 114, 94, 0.6);"></div>
        <div class="container-fluid">
          <div class="row copyright">
            <div class="col-md-12 text-center">
              <p>
                <ul class="fh5co-social-icons">
                  <li><a href="http://codepen.io/erchsm/">Codepen</a></li>
                  <li><a href="https://github.com/erchsm/">Github</a></li>
                  <li><a href="https://www.flickr.com/photos/erchsm/">Flickr</a></li>
                </ul>
              </p>
            </div>
          </div>

        </div>
      </footer>
    </div>
