<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <header id="project-0" du-scrollspy="project-0" class="fh5co-cover full-bleed fh5co-header" role="banner" style="background-image:url(/images/card-components/banner-alt.jpg); background-color: #333031; background-blend-mode: multiply;" data-stellar-background-ratio="1.1">
    <!-- <div class="overlay"></div> -->
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-10 col-md-offset-0 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
             <h3 class="mb10">Wrap Media</h3>
             <h1 class="white">Micro App Templates</h1>
           </div>
         </div>
       </div>
     </div>
   </div>
 </header>
 <div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white fh5co-project">
   <div class="container-fluid">
     <div class="row row-pb-md">
       <div class="col-md-8 col-md-offset-2 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
         <h3>A template mobile experience for every use case at your fingertips — Think Squarespace but for mobile apps</h3>
         <p>Over the course of 6 months, myself and the rest of the design team at Wrap Media created 150+ template micro apps for our customers to use. Templates gave our users a starting point in our platform and provided them some inspiration to create their own.</p>
       </div>
     </div>
     <div class="row row-pb-md">
       <div class="col-md-8 text-left fh5co-heading">
        <video src="images/app-templates/from-fb.mp4" poster="images/app-templates/from-fb.jpg" class="img-responsive play-on-scroll"></video>
      </div>
      <div class="col-md-4 text-left fh5co-heading">
         <img src="images/app-templates/fashion-out.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
      </div>
    </div>
    <div class="row row-pb-md">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <p>Using a template required sign up for our SAAS product shown above. Once they had an account, making a new wrap from a template simply took one click.</p>
        <p>One of the biggest challenges in constructing templates was making them easy to use so that a brand/buisiness could simply swap out their content.</p>
        <p>Here are a few cards of a featured handful of templates we created. Here you can see many of the common use cases for the Wrap platform such as commerce, lead generation, real estate and events/conferences.</p>
      </div>
    </div>
    <!-- <div class="row" class="hidden">
     <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
       <img src="images/app-templates/conference/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive fh5co-heading">
       <img src="images/app-templates/agency/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
     </div>
     <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
       <div style="min-height: 7em;" class="spacer hidden-xs"></div>
       <img src="images/app-templates/conference/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive fh5co-heading" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.05);">
       <img src="images/app-templates/agency/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.05);">
     </div>
     <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
       <img src="images/app-templates/commerce/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive fh5co-heading" style="box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.05);">
       <img src="images/app-templates/lead-generation/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
     </div>
     <div class="col-md-3 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
       <div style="min-height: 3.5em;" class="spacer hidden-xs"></div>
       <img src="images/app-templates/commerce/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive fh5co-heading">
       <img src="images/app-templates/lead-generation/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
     </div>
   </div> -->
 </div>
</div>

<div id="project-2" du-scrollspy="project-2" class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/card-components/banner.jpg');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row animate-box" data-animate-effect="fadeInUp">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>We grouped templates under visual style families — This was crucial for their find-ability in our product</h1>
      </div>
    </div>
  </div>
</div>
<div id="project-3" du-scrollspy="project-3" class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Conference</h1>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/conference/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>
<div id="project-4" du-scrollspy="project-4" class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Lead Generation</h1>
        <h3>Bold Modern Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>
<div id="project-5" du-scrollspy="project-5" class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Fashion Commerce</h1>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #EB9FA7;">
       <img src="images/app-templates/commerce/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #CCA991;">
       <img src="images/app-templates/commerce/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #C86889;">
       <img src="images/app-templates/commerce/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/8.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/commerce/9.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>
<div id="project-6" du-scrollspy="project-6" class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row">
      <div class="col-md-12 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Creative Agency</h1>
        <h3>Modern Sans Family</h3>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #242424;">
       <img src="images/app-templates/agency/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #242424;">
       <img src="images/app-templates/agency/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card gallery" data-animate-effect="fadeIn" style="background-color: #242424;">
       <img src="images/app-templates/agency/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/agency/7.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>

<footer ng-include="'partials/next-case-study/protohack-givjoy.html'" include-replace></footer>


<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
