<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <header id="project-0" du-scrollspy="project-0" class="fh5co-cover percent repeat fh5co-header" role="banner" style="background-image:url(/images/card-components/share-animation-zoomed-out.gif);" data-stellar-background-ratio="1.1">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-12 col-md-offset-0 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
             <h3 class="white mb10">Wrap Media</h3>
             <h1 class="white">Micro App Interactions</h1>
           </div>
         </div>
       </div>
     </div>
   </div>
 </header>

 <div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white">
   <div class="container-fluid">
     <div class="row row-pb-md">
       <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <h3>A quick introduction to the Wrap platform — a Wrap is a highly-focused, app-like, mobile web experience.</h3>
        <p>Wraps are mobile web apps and live at a URL. The flexibility of the URL allows a end user to enter the Wrap through many channels including social feeds, e-mail, web advertisement or, like shown below, through SMS.</p>
      </div>
    </div>
    <div class="row row-pb-md">
      <div class="col-md-7 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
        <video poster="images/card-components/minted.jpg" src="images/card-components/minted.mp4" class="img-responsive play-on-scroll"></video>
      </div>
      <div class="col-md-5 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
        <img src="images/card-components/minted-hand.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
        <p>The Minted Challange Wrap seen above I worked on with <a href="https://www.linkedin.com/in/jeffrklein/">Jeff Klein</a> — He worked the visual design while I focused on the interactions.</p>
        <p>Wrap experiences are essentially a colleciton of cards — a new "page" of the traditional "app" is analagous to a card. The creation and distribution of the experiences was handled through a SAAS application that we developed in-house as well.</p>
        <p>The way that myself and the design team designed wraps was by designing cards. From the example above you can see that these experiences follow and "x-cross" pattern — The end user is able to scroll either up/down or swipe left or right.</p>
      </div>
    </div>
  </div>
</div>

<div id="project-2" du-scrollspy="project-2" class="fh5co-bg fh5co-section fh5co-section--black" style="background-image: url('images/card-components/banner.jpg');">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row animate-box"  data-animate-effect="fadeInUp">
      <div class="col-md-10 col-md-offset-1 text-center fh5co-heading">
        <h1>I designed and developed mobile-first web interactions for our product and external clients.</h1>
      </div>
    </div>
  </div>
</div>
<div id="project-3" du-scrollspy="project-3" class="fh5co-section fh5co-section--white">
 <div class="container-fluid">
  <div class="row row-pb-md">
   <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <h3>Wrap’s Design Team with Warner Bros. Records created a mobile merchandise catalog for indie-pop duo, Tegan & Sara.</h3>
     <p>Myself with Wrap’s Studio Design Team and Warner Bros. Records partnered to create a mobile-first merchandise catalog for Tegan & Sara’s “Love You 2 Death” tour.</p>
     <p>Working closely with the coolest visual designer around, <a href="http://www.linkedin.com/pub/theo-arguna/62/796/635/">Theo Arguna</a>, I designed and developed the "Commerce" and "Share" interactions shown below.</p>
   </div>
 </div>
 <div class="row row-pb-md">
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeInUp">
     <video src="images/card-components/share-animation.mp4" poster="/images/card-components/share-animation.jpg" class="img-responsive play-on-scroll"></video>
   </div>
   <div class="col-md-6 fh5co-project fh5co-heading" data-animate-effect="fadeInUp">
     <img src="images/card-components/cart-animation.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
   </div>
 </div>
 <div class="row row-pb-md">
   <div class="col-md-8 col-md-offset-2 text-left fh5co-heading" data-animate-effect="fadeIn">
    <p>Our approach was an immersive one, to value interaction and interface but not more than the content itself. We helped Tegan & Sara create a brand based on two basic elements; their highly curated content and the enthusiastic followers that make up their team. We avoided gimmicks by focusing on their curators and content.</p>
  </div>
</div>
<div class="row row-pb-md hidden-xs">
 <div class="col-md-12 fh5co-project" data-animate-effect="fadeIn">
   <p style="min-height: 625px;" data-height="625" data-theme-id="light" data-slug-hash="NRBOky" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Cart & Share Components" class="codepen">See the Pen<a href="http://codepen.io/erchsm/pen/NRBOky/">Cart & Share Components</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
 </div>
</div>
</div>
</div>
<div id="project-4" du-scrollspy="project-4" class="fh5co-section fh5co-section--black">
  <div class="container-fluid">
   <div class="row animate-box" data-animate-effect="fadeIn">
    <div class="col-md-5 col-md-offset-1 text-left fh5co-heading">
     <h3>
      This prototype was made with Principle and Sketch.
    </h3>
    <p>
      You can download a basic version of the prototype here. Feel free to use it in your own projects.
    </p>
    <p>
      <a href="/card-animation-zoomed.prd">Download the Principle file <i class="icon-arrow-right"></i></a>
    </p>
  </div>
  <div class="col-md-4 col-md-offset-1 text-left">
    <video src="images/card-components/share-animation.mp4" poster="/images/card-components/share-animation.jpg" class="img-responsive"></video>
    <!-- <img src="/images/card-components/work-1.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive"> -->
  </div>
</div>
</div>
</div>
<div id="project-5" du-scrollspy="project-5" class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
   <div class="row row-pb-md animate-box" data-animate-effect="fadeIn">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
     <h3>Google Places API Integration— To help small businesses show their users locations nearby them</h3>
     <p>As one of our self-service product offerings we built an integration with the Google Places API's for helping users find the nearest location of that service near them. For the case below the customer was a small gym business and a user could find a branch local to their location.</p>
     <p>This component was a "self serve" part of our product. Anyone with an account could add this to a card. I worked on the motion and interaction here and I worked directly with the Google API's while developing this.</p>
   </div>
 </div>
 <div class="row row-pb-md hidden-xs">
   <div class="col-md-12 fh5co-project animate-box" data-animate-effect="fadeIn">
     <p style="min-height: 625px;" data-height="700" data-theme-id="light" data-slug-hash="ENNdJd" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="Nearby Services Component " class="codepen">See the Pen <a href="http://codepen.io/erchsm/pen/ENNdJd/">Nearby Services Component </a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a>.</p>
   </div>
 </div>
</div>
</div>
<div id="project-6" du-scrollspy="project-6" class="fh5co-section fh5co-section--black">
  <div class="container">
    <div class="row ">
      <div class="col-md-10 fh5co-project animate-box fh5co-heading" data-animate-effect="fadeIn">
        <h1>Lead Generation</h1>
        <h3>Bold Modern Family</h3>
      </div>
      <div class="col-md-2 fh5co-project animate-box fh5co-heading pull-right" data-animate-effect="fadeIn">
      <p><a href="/micro-app-templates">More Templates <i class="icon-chevron-thin-right"></i></a></p>
      </div>
    </div>
    <div class="row scrolling">
      <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/1.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/3.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/4.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/5.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
     <div class="col-md-4 fh5co-project animate-box fh5co-heading card" data-animate-effect="fadeIn">
       <img src="images/app-templates/lead-generation/6.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive img-card">
     </div>
   </div>
 </div>
</div>
<div id="project-7" du-scrollspy="project-7" class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 text-left fh5co-heading">
        <h3>We developed a custom Current Location pin as a means to make this feel more like a native application</h3>
        <p>The Google Maps API does not make their pin animation available via API so I decided to quickly develop our own.</p>
        <p><a href="https://codepen.io/erchsm/pen/vyxxae/">Check out the Codepen <i class="icon-arrow-right"></i></a></p>
      </div>
      <div class="col-md-4 col-md-offset-1 fh5co-project animate-box hidden-xs" data-animate-effect="fadeIn">
       <p style="min-height: 265px;" data-height="265" data-theme-id="light" data-slug-hash="vyxxae" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="The Pin" class="codepen"> See the Pen <a href="https://codepen.io/erchsm/pen/vyxxae/">The Pin</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a></p>
     </div>
   </div>
 </div>
</div>
<div id="project-8" du-scrollspy="project-8" class="fh5co-section fh5co-section--white">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 text-left fh5co-heading">
        <h3>Check out some more Codepens I made in my time at Wrap Media</h3>
        <p>I learned to love using Codepen as a design presentation tool. It a great way to share code snippets and interactions I created.</p>
        <p><a href="https://codepen.io/erchsm">My Codepens <i class="icon-arrow-right"></i></a></p>
      </div>
      <div class="col-md-6 fh5co-project animate-box hidden-xs" data-animate-effect="fadeIn">
       <p style="min-height: 265px;" data-height="265" data-theme-id="light" data-slug-hash="BLbpoZ" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="The Pin" class="codepen"> See the Pen <a href="https://codepen.io/erchsm/pen/BLbpoZ/">The Pin</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a></p>
     </div>
     <div class="col-md-6 fh5co-project animate-box hidden-xs" data-animate-effect="fadeIn">
       <p style="min-height: 265px;" data-height="265" data-theme-id="light" data-slug-hash="ZpGzzr" data-default-tab="result" data-user="erchsm" data-embed-version="2" data-pen-title="The Pin" class="codepen"> See the Pen <a href="https://codepen.io/erchsm/pen/ZpGzzr/">The Pin</a> by eric smith (<a href="http://codepen.io/erchsm">@erchsm</a>) on <a href="http://codepen.io">CodePen</a></p>
     </div>
   </div>
 </div>
</div>

<footer include-replace ng-include="'partials/next-case-study/micro-app-templates.html'"></footer>

<div codepen-embed></div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

</div>


