<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div id="project-0" du-scrollspy="project-0" class="fh5co-section process__side fh5co-section--white">
    <div class="fh5co-heading">
      <h3>Design is so simple. That’s why its so complicated.</h3>
      <hr>
      <p>
        I specialize in prototypes, visual design and front-end code so I excell at steps 2 through 5 of the process. I enjoy working with a team that complement my skillset. 
      </p>
      <p>
        I believe that writing code is necessary in the design process. By producing live code prototypes you give developers a better starting point and give them a common language to talk about a design.
      </p>
    </div>
  </div>

  <div class="process" id='process' process-diagram>
    <ul class="process__list">
      <svg class="center" viewBox="0 0 100 100" id="center">
        <defs>
          <linearGradient id='grad-arc-1'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-2'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-3'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-4'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-5'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-6'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-7'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
          <linearGradient id='grad-arc-8'>
            <stop/>
            <stop offset='100%'/>
          </linearGradient>
        </defs>

        <path class="circle__arc circle__arc-1" id="circle__arc-1" vector-effect="non-scaling-stroke"></path>
        <path class="circle__arc circle__arc-2" id="circle__arc-2"></path>
        <path class="circle__arc circle__arc-3" id="circle__arc-3"></path>
        <path class="circle__arc circle__arc-4" id="circle__arc-4"></path>
        <path class="circle__arc circle__arc-5" id="circle__arc-5"></path>
        <path class="circle__arc circle__arc-6" id="circle__arc-6"></path>
        <path class="circle__arc circle__arc-7" id="circle__arc-7"></path>
        <path class="circle__arc circle__arc-8" id="circle__arc-8"></path>


        <path class="step__arc step__arc-1" id="step__arc-1"></path>
        <path class="step__arc step__arc-2" id="step__arc-2"></path>
        <path class="step__arc step__arc-3" id="step__arc-3"></path>
        <path class="step__arc step__arc-4" id="step__arc-4"></path>
        <path class="step__arc step__arc-5" id="step__arc-5"></path>
        <path class="step__arc step__arc-6" id="step__arc-6"></path>
        <path class="step__arc step__arc-7" id="step__arc-7"></path>
        <path class="step__arc step__arc-8" id="step__arc-8"></path>
      </svg>
      <h1 class="title">My User Experience Process</h1>

      <!-- STEP-1 — DISCOVERY -->
      <li class="step step-1" id="step-1">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">1</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-discovery"></i>
            </div>
            <div class="step__title">Discover</div>
          </div>
          <div class="step__text">
            Interview users to understand their current process and workflow.
          </div>
          <div class="step__role">
            The UX Design team <br />
            &amp; Product team
          </div>
        </div>
      </li>

      <!-- STEP-2 — IDEATION -->
      <li class="step step-2" id="step-2">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">2</div>
        <div class="step__info" id="step__info-2">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-ideation"></i>
            </div>
            <div class="step__title">Ideate</div>
          </div>
          <div class="step__text">
            Meet with stakeholders and developers to collaboratively generate design ideas.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <!-- STEP-3 — WIREFRAME -->
      <li class="step step-3" id="step-3">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">3</div>
        <div class="step__info" id="step__info-3">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-wireframes"></i>
            </div>
            <div class="step__title">Wireframe</div>
          </div>
          <div class="step__text">
            Consolidate the ideas and create a wireframe to communicate the design and functionality with developers.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <!-- STEP-4 — PROTOTYPE -->
      <li class="step step-4" id="step-4">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">4</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-prototype"></i>
            </div>
            <div class="step__title">Prototype</div>
          </div>
          <div class="step__text">
            Create a responsive and clickable coded prototype built with HTML, CSS, and JavaScript.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <!-- STEP-5 — USER TESTING -->
      <li class="step step-5" id="step-5">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">5</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-testing"></i>
            </div>
            <div class="step__title">User Testing</div>
          </div>
          <div class="step__text">
            Test the prototype using Usability Testing methods to gather thorough feedback.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <!-- STEP-6 — EXPERIENCE MAPPING -->
      <li class="step step-6" id="step-6">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">6</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-mapping"></i>
            </div>
            <div class="step__title">Experience Mapping</div>
          </div>
          <div class="step__text">
            Synthesize the feedback and map the users' experience with the prototype to improve it in the future iterations.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <li class="step step-7" id="step-7">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">7</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-refining"></i>
            </div>
            <div class="step__title">Refining</div>
          </div>
          <div class="step__text">
            Refine and iterate on the design to further improve the users' experience.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>

      <li class="step step-8" id="step-8">
        <div class="step__spot">
          <svg class="step__spot-svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" class="step__spot-fill"></circle>
            <circle cx="50" cy="50" r="0" class="step__spot-circle"></circle>
          </svg>
        </div>
        <div class="step__number">8</div>
        <div class="step__info">
          <div class="step__header">
            <div class="step__icon">
              <i class="step__svg process-icon process-icon-clipboard"></i>
            </div>
            <div class="step__title">Deliver and Backlog</div>
          </div>
          <div class="step__text">
            Deliver changes to the prototype and list the possible improvements for the future.
          </div>
          <div class="step__role">
          </div>
        </div>
      </li>
    </ul>
  </div>


