<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>
  <!-- <nav du-spy-context include-replace ng-include="'partials/progress-bar.html'"></nav> -->


  <header id="project-0" du-scrollspy="project-0" class=" fh5co-cover full-bleed " role="banner" style="background-image:url(/images/protohack-givjoy/banner.jpg); background-color: #dededc; background-blend-mode: multiply;" data-stellar-background-ratio="1.07">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="display-t">
        <div class="row display-tc">
         <div class="col-xs-12 col-md-offset-0 col-md-10 text-left text-xs-center">
           <div class="animate-box" data-animate-effect="fadeInUp">
            <h3 class="mb10">Protohack</h3>
            <h1 class="white">Givjoy</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div id="project-1" du-scrollspy="project-1" class="fh5co-section fh5co-section--white fh5co-project">
 <div class="container-fluid">
   <div class="row row-pb-md">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <h3>When was the last time you made someone's day?</h3>
      <p>At the beginning of ProtoHack, a codefree hackathon, each team gave they're pitches for what they wanted to build. My friend Sarah posed the above prompt in her initial pitch for the idea of GivJoy during this pitch. This question really resonated with me and I decided to join their team and help them solve their problem.</p>
    </div>
  </div>
  <div class="row row-pb-md">
    <div class="col-md-8 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <img src="images/protohack-givjoy/the-team.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
    <div class="col-md-4 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <img src="images/protohack-givjoy/when-was-the-last.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
  </div>

  <div class="row row-pb-md">
    <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <p>Our ProtoHack team consisted of 5 individuals–3 Buisiness Development experts and 1 other UX Designer besides myself.</p>
    </div>
  </div>
</div>
</div>

<div id="project-2" du-scrollspy="project-2" class="fh5co-section fh5co-section--black">
 <div class="container-fluid">
   <div class="row row-pb-md">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">

      <h3>Givjoy is a mobile-first web application for allowing a person to bring joy to their loved ones.</h3>
      <p>Givjoy is a mobile-first web application for allowing a person to bring joy to their loved ones. We researched/designed and prototyped the app during ProtoHack over the course of 9 hours.</p>
    </div>
  </div>
  <div class="row row-pb-md">
    <div class="col-md-8 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <video src="images/protohack-givjoy/givjoy.mp4" poster="images/protohack-givjoy/givjoy.jpg" class="img-responsive play-on-scroll"></video>
    </div>
    <div class=" col-md-4 text-left fh5co-heading animate-box" data-animate-effect="fadeInUp">
      <img src="images/protohack-givjoy/delivery.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
   <!--  <div class=" col-md-3 text-left fh5co-heading">
      <img src="images/protohack-givjoy/app.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
    <div class="col-md-3 text-left fh5co-heading">
      <img src="images/protohack-givjoy/app-2.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div>
    <div class="col-md-6 text-left fh5co-heading">
      <img src="images/protohack-givjoy/desktop.jpg" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
    </div> -->
  </div>
</div>
</div>

<div id="project-3" du-scrollspy="project-3" class="fh5co-section fh5co-section--black">
  <div class="container-fluid">
   <div class="row animate-box" data-animate-effect="fadeInUp">
    <div class="col-md-5 col-md-offset-1 text-left fh5co-heading">
     <h3>This prototype was made with Principle and Sketch.</h3>
     <p>You can download a basic version of the prototype here. Feel free to use it in your own projects.</p>
     <p><a href="/givjoy.prd">Download the Principle file <i class="icon-arrow-right"></i></a></p>
   </div>
   <div class="col-md-4 col-md-offset-1 text-left">
    <img src="images/protohack-givjoy/book.gif" alt="Free HTML5 Website Template by gettemplates.co" class="img-responsive">
  </div>
</div>
</div>
</div>

<div  id="project-4" du-scrollspy="project-4" class="fh5co-section fh5co-section--white">
  <div class="container-fluid">
   <div class="row animate-box" data-animate-effect="fadeInUp">
     <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
      <h2>Reflections</h2>
      <p>Going into ProtoHack I had no idea what to expect. As a developer, the idea of a strictly <strong>no coding</strong> hackthon seemed backwards to me. If there's been something I've learned about the design world it's that designers get passionate about their designs–I was fearful of how this would come into play in this space.</p>
      <p>&horbar;To say the least I was <strong>anxious</strong> about what the day would bring. The turnout of ProtoHack mostly consisted of buisiness development professionals, UX designers and marketers. They gave us the morning of ProtoHack to build teams and comes up with ideas for a product.</p>
    </div>
  </div>
</div>
</div>

<footer ng-include="'partials/next-case-study/perforce.html'" include-replace></footer>



<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

</div>


