<div id="page">
  <nav du-spy-context include-replace ng-include="'partials/nav.html'"></nav>

  <div id="project-0" du-scrollspy="project-0" class="fh5co-section fh5co-section--white fh5co-started fh5co-section--resume">
    <div class="container-fluid">
      <div class="row row-pb-md">
        <div class="col-md-7 col-md-offset-1 fh5co-heading">
          <h2>Eric C. Smith is a UI/UX Designer & Developer located in New York City</h2>
          <hr>
          <div class="info-block">
            <span>May 2017 – Present.  New York, NY.</span>
            <h3>NBCUX Lab – UI/UX Designer & Developer</h3>
            <span>Adobe CC, HTML, CSS, Javascript</span>
            <ul>
              <li>Designed and developed websites for the Universal Pictures films:
              American Made, Jurassic World & The Lorax.</li>
              <li>Small agile team that acted as a UX Design and Development
              agency within NBCUniversal.</li>
              <li>Contributed front-end code to a web video player shared
              among NBCU’s entertainment brands.</li>
              <li>Delivered live code prototypes for mobile and web products.</li>
            </ul>
          </div>
          <div class="info-block">
            <span>September 2015 – November 2016.  San Francisco, CA.</span>
            <h3>Wrap Media – UI/UX Designer & Developer</h3>
            <span>Sketch, Principle, Adobe CC, HTML, CSS, Javascript</span>
            <ul>
              <li>Created mobile web experiences for external clients with a focus on interaction design.</li>
              <li>Designed and prototyped features that were integrated into their app creation and distribution web SAAS product.</li>
              <li>Contributed front-end code to a codebase, implemented interactions in the product.</li>
              <li>Designed and developed multiple iterations of the company website and product messaging.</li>
            </ul>
          </div>
          <div class="info-block">
            <span>May 2015 – August 2015.  Alameda, CA.</span>
            <h3>Perforce – UX Designer & Researcher</h3>
            <span>Sketch, Adobe CC, Invision App, Proto.io</span>
            <ul>
              <li>Applied Lean UX principles across the the organization’s product suite from a centralized design team</li>
              <li>Practiced 1-week design sprints with regular design critique sessions with the design team and stakeholders</li>
              <li>Developed and applied new brand guidlines in across products. Applied the style guide in a new product</li>
              <li>Rapidly created multiple prototype iterations and conducted generative research sessions to gain insights on an early stage, SAAS, web product</li>
            </ul>
          </div>
          <div class="info-block">
            <span>May 2014 – May 2015. San Jose, CA.</span>
            <h3>Cisco – UI/UX Engineer</h3>
            <span>HTML, CSS, Javascript, Backbone.js, Node.js, D3.js</span>
            <ul>
              <li>Engineer on a small team focused on creating a Backbone.js web application that allowed our users to visualize traffic on their Wide Area Network</li>
              <li>Created a network traffic visualization web interface while working closely with designers.</li>
              <li>Developed data visualizations utilizing the library, D3.js</li>
              <li>Contributed to the product’s developer site and API documentation.</li>
            </ul>
          </div>

        </div>
        <div class="col-md-3 fh5co-heading">
          <p>
          hi@ericsmithux.com</br>
        +1 508 733 4510</br>
        Brooklyn, NY
      </p>
      <p></p>
      <p>
      ericsmithux.com</br>
    github.com/erchsm</br>
  codepen.io/erchsm</br>
  flickr.com/erchsm
</p>
<hr>
<p>
  Hello, I’m Eric. I love being creative, exploring, broadening my horizons and crafting awesome user experiences in my projects. When im not designing or coding, I’m a photography enthusiast and love being outdoors.
</p>
<hr>
<div class="info-block info-block--small">
  <span>March 2015 – May 2015. SF, CA.</span>
  <h3>General Assembly – UXDi</h3>
  <span>UX Design Immersive Program</span>
</div>
<div class="info-block info-block--small">
  <span>May 2014. Amherst, MA</span>
  <h3>Computer Science – BS</h3>
  <span>University of Mass. Amherst</span>
</div>
<hr>
<p>
  HTML5, CSS3
  LESS, SASS, Bootstrap
  Sketch, Zeplin, Craft
  Adobe Photoshop, Illustrator
  Proto.io, Invision, Principle,
  Interactive Prototyping
  User Testing, User Interviews
  JavaScript, Typescript, jQuery
  AngularJS, BackboneJS
  Git, Github, Heroku
  NodeJS, NPM
</p>
</div>
</div>
</div>
</div>
</div>
