@import 'motion';

// Mixins
@mixin shadows() {
  -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
}

@mixin translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}

@mixin rotate($amount) {
  -moz-transform: rotate($amount);
  -webkit-transform: rotate($amount);
  -ms-transform: rotate($amount);
  -o-transform: rotate($amount);
  transform: rotate($amount);
}
@mixin translateY($amount) {
  -moz-transform: translateY($amount);
  -webkit-transform: translateY($amount);
  -ms-transform: translateY($amount);
  -o-transform: translateY($amount);
  transform: translateY($amount);
}
@mixin scale($x, $y) {
  -moz-transform: scale($x, $y);
  -webkit-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  transform: scale($x, $y);
}

@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@mixin flex-align-items($value) {
  align-items: $value;
  -webkit-align-items: $value;
  -ms-align-items: $value;
}

@mixin flex-justify-content($value) {
  justify-content: $value;
  -webkit-justify-content: $value;
  -ms-justify-content: $value;
}

@mixin flex-direction($value) {
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flexScroller() {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;

  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;

  margin-bottom: -30px;
  padding-left: calc((100vw - (100% - 30px*2))/2);
  padding-bottom: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  overflow-x: scroll;
  overflow-y: hidden;

  @include flex-justify-content(flex-start);
  @include flex-align-items(flex-start);

  -webkit-overflow-scrolling: touch;
  .img-card {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
  }
}

@mixin icomoon() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@mixin heading2 () {
  font-size: 24px;
  line-height: 1.275em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media screen and (max-width: $screen-sm) {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
@mixin headingJumbo () {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 80px;
  letter-spacing: 0.01em;
  line-height: 1.1em;
  font-weight: 700;

  @media screen and (max-width: $screen-sm) {
    font-size: 32px;
    letter-spacing: -0.01rem;
  }
}

@mixin heading1 () {
  margin-bottom: 0px;
  margin-top: 0;
  font-size: 60px;
  letter-spacing: 0.01rem;
  font-style: normal;
  line-height: 1em;
  font-weight: 700;

  @media screen and (max-width: $screen-sm) {
    font-size: 32px;
    letter-spacing: -0.01rem;
  }
}

@mixin heading2() {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 700;
  }
}


@mixin heading3 () {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1em;

  @media screen and (max-width: $screen-sm) {
    font-size: 24px;
    font-weight: 700;
  }
}

@mixin heading4 () {
  font-size: 24px;
  line-height: 1.275em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media screen and (max-width: $screen-sm) {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@mixin body1 () {
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 400;

  @media screen and (max-width: $screen-sm) {
    font-size: 16px;
    line-height: 1.275em;
  }
}

@mixin x-glyph() {
  position: relative;
  display: block;
  width: 58px;
  height: 58px;
  margin: auto;

  &:before, &:after {
    content: '';
    position: absolute;
    background: _palette($theme,brand-white);
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
  }
  &:before {
    @include rotate(-45deg);
  }
  &:after {
    @include rotate(45deg);
  }

  @media screen and (max-width: $screen-sm) {
    width: 38px;
    height: 38px;
  }
}
