@import 'motion';

// Mixins
@mixin shadows() {
  -webkit-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 0px 4px 12px -7px rgba(0, 0, 0, 0.15) !important;
}

@mixin translateX($translatex) {
  -moz-transform: translateX($translatex);
  -webkit-transform: translateX($translatex);
  -ms-transform: translateX($translatex);
  -o-transform: translateX($translatex);
  transform: translateX($translatex);
}

@mixin rotate($amount) {
  -moz-transform: rotate($amount);
  -webkit-transform: rotate($amount);
  -ms-transform: rotate($amount);
  -o-transform: rotate($amount);
  transform: rotate($amount);
}
@mixin translateY($amount) {
  -moz-transform: translateY($amount);
  -webkit-transform: translateY($amount);
  -ms-transform: translateY($amount);
  -o-transform: translateY($amount);
  transform: translateY($amount);
}
@mixin scale($amount) {
  -moz-transform: scale($amount);
  -webkit-transform: scale($amount);
  -ms-transform: scale($amount);
  -o-transform: scale($amount);
  transform: scale($amount);
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}
@mixin inline-block() {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexwrap() {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}

@mixin icomoon() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@mixin heading2() {
  font-size: 24px;
  line-height: 1.275em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media screen and (max-width: $screen-sm) {
    font-size: 20px;
  }
}

@mixin bodyText() {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  @media screen and (max-width: $screen-sm) {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
  }
}
